[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython = ">=3.0.8"
numpy = ">=1.26.4"
matplotlib = ">=3.8.2"
pandas = ">=2.2.0"
openpyxl = ">=3.1.2"
cec2013lsgo = {file = "../cec2013lsgo/dist/cec2013lsgo-2.0-cp312-cp312-linux_x86_64.whl"}
setuptools = "*"

[dev-packages]
ipython = ">=8.21.0"
jupyterlab = ">=4.1.0"
ipympl = ">=0.9.3"
PyLaTeX = ">=1.4.2"
